.home{
display: flex;
justify-content:center;
height: 100vh;
width: 100vw;
background-color: black ;
color: white;
/* scroll-snap-type: y mandatory; */
}
.Hero{
display: flex;
flex-direction: column;
align-items: center;
gap: 3rem;
}
.searchArea > input{
    height: 3rem ;
    width:20rem;
    border-radius: 10px  ;
    font-size: 1.1rem;
    padding-left: 1rem;

    
}
.searchArea{
    display: flex;
    gap: 3rem;
}
.Hero > button{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
}
.Hero >h1{
font-size: 5rem;
margin-top: 10rem    ;
}
.middle{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
   
}
.footer{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}
img{
    height: 50vh;
}