.Navbar{
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-bottom: 2rem; */
}
.navItem > a{
    text-decoration: none;
    color: #fff;
    /* display: flex; */
    padding-left: 4rem;

    
}