.Navbar {
    width: 100vw;
    height: 64px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center

    justify-content: space-between; 
    margin-bottom: 2rem;
    padding: 20px;

}

.textContainer {
    display: flex;
    align-items: center; /* Align items vertically */
    font-size: 14px;
}

.navItem {
    display: flex;
    align-items: center; /* Align items vertically */
}

.navItem > a {
    text-decoration: none;
    color: #fff;
    padding-left: 4rem;
}
